<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recurse Radio</title>
    <script src="vendors/tailwind.min.js"></script>
    <link rel="stylesheet" href="styles.css" />
    <script defer src="script.js"></script>
  </head>
  <body class="helvetica bg-gray-100 py-48 px-3 flex flex-col justify-center items-center">
    <div class="relative flex flex-col items-center border border-green-600 w-[305px] py-10 pb-0 bg-white shadow">
      <marquee id="marquee" scrollamount="4" class="absolute ibm-plex-mono top-0 left-0 right-0 bg-green-600 text-white border-b border-green-700 shadow-sm text-[13px] py-[2px]">Welcome Recursers!</marquee>
      <div onclick="playAudio()" class="absolute bg-gray-300 hover:bg-gray-400 transition-all duration-75 right-4 w-6 h-6 flex items-center justify-center rounded-full cursor-pointer">
        <img id="icon" src="icons/play-fill.svg" class="w-3 h-3"/>
      </div>
      <img onclick="playAudio()" src="radio.png" alt="Radio" class="w-20 h-20 mb-4 mt-4 z-10 cursor-pointer" />
      <h1 class="text-center librebaskerville text-lg mb-2 text-green-600">Recurse Radio</h1>
      <p class="mx-4 text-black text-sm text-justify">Thanks for tuning in! Recurse Radio is a radio station that lives at the Recurse Center in Brooklyn. The entire service runs locally on a Raspberry Pi. <a class="cursor-pointer hover:underline" href="https://github.com/nlaz/recurse-radio">Learn more...</a></p>
      <div class="flex justify-center text-green-600 text-sm absolute bottom-[-38px]">
        <a href="">Login</a> ∙ <a href="">About</a>
      </div>
      <canvas id="visualizer" width="303" height="80" class="mt-4"></canvas>
    </div>
    <audio controls preload="none" id="audio" src="/radio" class="hidden" />
  </body>
  <script>

  </script>
</html>
